if [ -z "$ZSH_VERSION" ]; then
  # Using printf for better portability and to avoid issues with echo's behavior across shells/systems.
  # Outputting to stderr (>&2) as it's an error/warning message.
  printf "%s\\n" "This configuration is for Zsh. Please switch to Zsh to source this file." >&2
  return 1 # 'return' is appropriate for sourced scripts to stop execution in the current shell.
fi

# Path to your oh-my-zsh installation.
export ZSH="{{ oh_my_zsh_path }}"

# Set name of the theme to load --- if set to "random", it will
# load a random theme each time oh-my-zsh is loaded, in which case,
# to know which specific one was loaded, run: echo $RANDOM_THEME
# See https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
ZSH_THEME="robbyrussell" # Or your preferred theme, e.g., "agnoster", or "" if using Starship

# Oh My Zsh plugins
plugins=(
  {% for plugin in zsh_plugins_list %}
  {{ plugin }}
  {% endfor %}
)

source $ZSH/oh-my-zsh.sh

# User configuration
export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Preferred editor for local and remote sessions
# if [[ -n $SSH_CONNECTION ]]; then
#   export EDITOR='vim'
# else
#   export EDITOR='mvim'
# fi

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# starship
eval "$(starship init zsh)"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For example, you can see examples of adding aliases to $ZSH_CUSTOM/aliases.zsh
# (then uncomment themes/robbyrussell/robbyrussell.zsh_theme).

alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
